<div style="background-color: #BFB78D;">
    <div class="container">
        <div class="jumbotron text-align-justify texto monospace" style="background-color: #FFF4BC;">
            <h1 class="display-4 titulo">Sobre mim</h1>
            <p class="lead txt-color">
                Desenvolvedora Web Full Stack Jr., graduada em Administração pela Universidade
                Presbiteriana Mackenzie e formada pelo Bootcamp Generation Brasil, onde aprendi
                como linguagem de programação em Back End Java, utilizando o framework Spring. Tenho prática 
                com o banco de dados MySQL e em Front End, com Angular, usando o framework Bootstrap. 
                Além disso, projetos virtualizados com a ferramenta Docker. 
            </p>
        
            <p class="lead txt-color">
                 Me comunico de maneira avançada em Inglês e tenho conhecimento metodologias ágeis como o Scrum e Kanban.
            </p>
            <hr class="my-4">
            
            <a class="btn btn-color" href="#" role="button">Saiba mais</a>
        </div>
    </div>
</div>
